<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nihil corrupti sed at dolores nam ducimus est, consequatur hic delectus illum ullam consequuntur, perspiciatis beatae illo doloremque voluptate praesentium itaque?
    </p>
    {{> footer}}
  </body>
</html>
